body {
  margin: 0;
}

.container {
  padding: 30px;
  background-image: url('/src/assets/images/homeBackground.png');
  height: 99vh;

  background-repeat: no-repeat;
  background-size: cover;
  width: 100;
}

/*Card Titulo*/
.title {
  width: 400px;
  padding: 50px;
}

.title h1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  margin: 2px;
}

.title p {
  color: white;
  text-align: justify;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.See {
  font-size: larger;
  font-weight: 300;
  width: 180px;
  height: 50px;
  border: 2px solid white;
  background-color: transparent;

}

.Cout {
  font-size: larger;
  font-weight: 300;
  color: black;
  height: 50px;
  width: 180px;
  border: none;
  background-color: white;

}