.upload-service-text {
  font-weight: 300;
  display: inline-block !important;
}

.upload-service {
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
}

.upload-service-title {
  font-weight: 500 !important;
  /* font-family: var(--roboto-font) !important; */
}

.upload-service-card {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.upload-service-button {
  background-color: aqua !;
}