.styles-module_dark__iZs3I .styles-module_chatFooter__TGv0P form .styles-module_input__WFb9L {
  width: 105% !important;
}

.styles-module_chatFooter__TGv0P form .styles-module_input__WFb9L {
  width: 105% !important;
}

.styles-module_chatHeader__gaeOA {
  background-color: #260B01 !important;
}